[submodule "Libraries/DFAbout"]
	path = Libraries/DFAbout
	url = https://github.com/NilsSve/Library-DFAbout.git
[submodule "Libraries/DataFolderSelector"]
	path = Libraries/DataFolderSelector
	url = https://github.com/NilsSve/Library-DataFolderSelector
[submodule "Libraries/RDCToolsLib"]
	path = Libraries/RDCToolsLib
	url = https://github.com/NilsSve/Library-RDCToolsLib.git
	branch = main
[submodule "Libraries/vwin32fh"]
	path = Libraries/vwin32fh
	url = https://github.com/NilsSve/Library-vwin32fh.git
	branch = master
